@use "../../scss/colors.scss" as colors;

.entry {
  border: 5px solid #c4e7d4;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff8dc;
  color: #4f4f4f;

  & + & {
    margin-top: 10px;
  }

  .divider {
    background-color: colors.$main;
    width: 100%;
    display: block;
    height: 1px;
    margin: 10px 0;
  }

  pre {
    font-family: "Georgia Regular";
    text-wrap: wrap;
  }

  .entryFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons {
      button {
        padding: 5px 10px;
        border-radius: 6px; /* Округлённые углы */
        transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход */
        border: none;

        & + button {
          margin-left: 10px;
        }

        &.deleteButton {
          background-color: #ffcccb;
          color: #8b0000;
        }

        &.editButton {
          background-color: #e6e6fa;
          color: #4b0082;
        }

        /* Состояние до нажатия */
        &.copy {
          background-color: #e6e6fa; /* Светло-лавандовый фон */
          color: #4f4f4f; /* Тёмно-серый текст */

          &.copied {
            background-color: #98fb98; /* Светло-зелёный фон */
            color: #006400; /* Тёмно-зелёный текст */
          }

          &:hover {
            background-color: #add8e6; /* Светло-голубой при наведении */
            cursor: pointer;
          }
        }
      }
    }
  }
  .updatedAt {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
  }
}
